{% extends 'base.html' %} {% block content %}
<h1 class="title is-3 has-text-centered" > About Finches Collector App</h1>
<p class="subtitle is-4 mt-5"> Finches are tiny birds, so it can be easy to overlook them. However, these little beauties are among the most popular and widely kept types of pet birds in the world, so it's safe to say that many prefer them to larger bird species such as parrots and parakeets. If you'd like to learn more about these little birds, then take a look at this app. It will allow you to create your own list of finches with many features to it </p>

<img src="https://miro.medium.com/max/1400/1*ZUDZM83y34szzjw3TgdRrA.jpeg" alt="finches" >

{% endblock %}