{% extends 'base.html' %}
{% block title %} - Finches {% endblock %}
{% block content %}
    <h1 class="title pt-5">{{header}}</h1>
    <form class="mb-5" method="get">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" name="name" placeholder="name" />
          </div>
          <div class="control">
            <input class="button is-success" type="submit" value="Search" />
          </div>
        </div>
        <a class="button is-dark" href="{% url 'finch_list' %}">Clear Search</a>
      </form>
    {% for finch in finches %}
        <a href="{% url 'finch_detail' finch.pk %}" >
            <h3>{{finch.name}}</h3>
        </a>
        <p> Population: {{finch.population}}</p>
        <img src="{{finch.img}}" alt="{{finch.name}}" />
        <p> Habitat: {{finch.habitat}}</p>
        <p> Threats:: {{finch.threat}}</p>
        <p> Note: {{finch.note}}</p>

    {% endfor %}
{% endblock %}